<a href="https://colab.research.google.com/github/DifKiG/Python_Pandas_tratamiento_analisis-_de_datos/blob/main/Filtrando_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# **Reporte de análisis III**

##**Inmuebles residenciales**
### separar los residenciales de los no residenciales

In [ ]:
import pandas as pd

In [ ]:
datos = pd.read_csv('/content/drive/MyDrive/Python_Pandas_Tratamiento_y_análisis_de_datos/alquiler.csv', sep = ';')

In [ ]:
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000.0,19193.0,3030.0

In [ ]:
list(datos['Tipo'].drop_duplicates())

['Habitación',
 'Casa',
 'Local comercial',
 'Departamento',
 'Casa en condominio',
 'Edificio completo',
 'Flat',
 'Tienda/Salón',
 'Almacén',
 'Casa comercial',
 'Casa de villa',
 'Terreno',
 'Cochera',
 'Loft',
 'Tienda en Centro Comercial',
 'Chacra',
 'Terreno em condominio',
 'Oficina',
 'Chalet',
 'Studio',
 'Hotel',
 'Local industrial']

In [ ]:
residencial = ['Habitación',
 'Casa',
 'Departamento',
 'Casa en condominio',
 'Casa comercial',
 'Casa de villa']
residencial

['Habitación',
 'Casa',
 'Departamento',
 'Casa en condominio',
 'Casa comercial',
 'Casa de villa']

In [ ]:
datos.head()

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN

In [ ]:
seleccion = datos['Tipo'].isin(residencial)
seleccion

0         True
1         True
2        False
3         True
4         True
         ...
32955     True
32956     True
32957     True
32958     True
32959    False
Name: Tipo, Length: 32960, dtype: bool

In [ ]:
datos_residencial = datos[seleccion]
datos_residencial

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
32953,Departamento,Santa Anita,2,0,0,70,900.0,490.0,48.0
32955,Habitación,Pachacámac,0,0,0,27,800.0,350.0,25.0
32956,Departamento,Lince,3,1,2,78,1800.0,800.0,40.0
32957,Departamento,Rímac,2,1,0,48,1400.0,509.0,37.0
32958,Departamento,Rímac,2,0,0,70,3000.0,760.0,NaN

In [ ]:
list(datos_residencial['Tipo'].drop_duplicates())

['Habitación',
 'Casa',
 'Departamento',
 'Casa en condominio',
 'Casa comercial',
 'Casa de villa']

In [ ]:
#Hasta ahora se han eliminado los datos de los inmuebles que no son residenciales,
#se filtran los duplicados del DF por medio del metodo .drop_duplicate, y el resultado se almacena en
#la lista en una nueva varible llamada residencial
#se almacena los datos con la propiedad .isin en una nueva variable llamada seleccion
#para  que comprueba la existencia de un valor true en una lista
#almacenado los resultados de seleccion en una nueva variable llamada datos_residencial

In [ ]:
#para que los indices inicien en orden en el nuevo objeto llamado datos_residencial se llama .index = range(el tamaño del objeto)
datos_residencial.shape[0]

22845

In [ ]:
datos_residencial.index = range(datos_residencial.shape[0])
datos_residencial

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
3,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
4,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22840,Departamento,Santa Anita,2,0,0,70,900.0,490.0,48.0
22841,Habitación,Pachacámac,0,0,0,27,800.0,350.0,25.0
22842,Departamento,Lince,3,1,2,78,1800.0,800.0,40.0
22843,Departamento,Rímac,2,1,0,48,1400.0,509.0,37.0
22844,Departamento,Rímac,2,0,0,70,3000.0,760.0,NaN

### **El siguiente ejercicio es un de un dataframe**
El código crea un DataFrame con una columna llamada N y le asigna los números del 0 al 10. Con el método isin(), seleccionamos sólo los números pares de N.

In [ ]:
import pandas as pd

numeros = [i for i in range(11)]
letras = [chr(i + 65) for i in range(11)]
nome_coluna = ['N']

df = pd.DataFrame(data = numeros, index = letras, columns = nome_coluna)

In [ ]:
seleccion= df['N'].isin([i for i in range(11) if i % 2 == 0])
df = df[seleccion]
df

    N
A   0
C   2
E   4
G   6
I   8
K  10

#**Exportando Bases de Datos**
Esta exportación se emplea cuando piden reporte del archivo que se esta realizando.

In [ ]:
#Para exportar se llama al DF y se le indica con el metodo .to_csv('se asigna nombre del nuevo archivo', sep = ';')
datos_residencial.to_csv('alquiler_residencial.csv', sep = ';')

In [ ]:
#Aqui mostrará el DF con una columna adicional que no necesito
datos_residencial_2 = pd.read_csv('alquiler_residencial.csv', sep = ';')
datos_residencial_2

,Unnamed: 0,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
3,3,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
4,4,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
22840,22840,Departamento,Santa Anita,2,0,0,70,900.0,490.0,48.0
22841,22841,Habitación,Pachacámac,0,0,0,27,800.0,350.0,25.0
22842,22842,Departamento,Lince,3,1,2,78,1800.0,800.0,40.0
22843,22843,Departamento,Rímac,2,1,0,48,1400.0,509.0,37.0
22844,22844,Departamento,Rímac,2,0,0,70,3000.0,760.0,NaN

In [ ]:
#Cuando se exporta un DF se debe modificar la columna idice para que no agregue una mas por default se elimina con index = False
datos_residencial.to_csv('alquiler_residencial.csv', sep = ';', index = False)

In [ ]:
#importando el archivo
datos_residencial_2 = pd.read_csv('alquiler_residencial.csv', sep = ';')
datos_residencial_2

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
3,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
4,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22840,Departamento,Santa Anita,2,0,0,70,900.0,490.0,48.0
22841,Habitación,Pachacámac,0,0,0,27,800.0,350.0,25.0
22842,Departamento,Lince,3,1,2,78,1800.0,800.0,40.0
22843,Departamento,Rímac,2,1,0,48,1400.0,509.0,37.0
22844,Departamento,Rímac,2,0,0,70,3000.0,760.0,NaN

#**Organizando_DataFrames_(Sort)**

In [ ]:
#lista
data = [[7, 8, 8], [4, 5, 6], [1, 2, 3]]
data

[[7, 8, 8], [4, 5, 6], [1, 2, 3]]

In [ ]:
#nombre de las filas
list('321')

['3', '2', '1']

In [ ]:
#Se crea un nuevo df, se llama la lista, el nombre de las filas y se crea el nombre de las columnas
# nombredf = libreriapd.metodoDataFrame(listadata, filaslist(), columnaslist())
df = pd.DataFrame(data, list('321'), list('ZYX'))
df

   Z  Y  X
3  7  8  8
2  4  5  6
1  1  2  3

In [ ]:
#Ordenar  los indices por medio de sort
df.sort_index()

   Z  Y  X
1  1  2  3
2  4  5  6
3  7  8  8

In [ ]:
df.sort_index( axis = 1)
df

   Z  Y  X
3  7  8  8
2  4  5  6
1  1  2  3

In [ ]:
#ordenar las columnas con .sort_values
df.sort_values(inplace= True, by = 'X')
df

   Z  Y  X
1  1  2  3
2  4  5  6
3  7  8  8