<a href="https://colab.research.google.com/github/DifKiG/Python_Pandas_tratamiento_analisis-_de_datos/blob/main/Frecuencias_de_inmuebles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Reporte de Análisis IV

In [ ]:
import pandas as pd

In [ ]:
#@title Importar tabla
datos = pd.read_csv('alquiler_residencial.csv', sep = ';')
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
3,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
4,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
5,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
6,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN
7,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
8,Departamento,Pachacámac,1,0,0,36,1200.0,NaN,NaN
9,Departamento,Mi Perú,2,1,0,70,1500.0,642.0,74.0

In [ ]:
#@title Seleccione solamente los inmuebles clasificados con tipo 'Departamento'
seleccion = datos['Tipo'] == 'Departamento'
n1 = datos[seleccion].shape[0]
print('El número de inmuebles clasificados con tipo Departamento -> {}'.
      format(n1))

El número de inmuebles clasificados con tipo Departamento -> 19532

In [ ]:
#@title Seleccione los inmuebles clasificados con tipos 'Casa', 'Casa en condominio' o  'Casa de villa'
seleccion = (datos['Tipo'] == 'Casa') | (datos['Tipo'] == 'Casa en condominio') | (datos['Tipo'] == 'Casa de villa')
n2 = datos[seleccion].shape[0]
print('Cantidad de los inmuebles clasificados con tipos Casa, Casa en condominio o  Casa de villa-> {}'.
      format(n2))

Cantidad de los inmuebles clasificados con tipos Casa, Casa en condominio o  Casa de villa-> 2212

In [ ]:
#@title Seleccione los inmuebles con área entre 60 y 100 metros cuadrados, incluyendo los limites
seleccion = (datos['Area']>= 60) & (datos['Area']<= 100)
n3 = datos[seleccion].shape[0]
print('Número de los inmuebles con áreas entre 60 y 100 metros cuadrados, incluyendo los limites -> {}'.
      format(n3))

Número de los inmuebles con áreas entre 60 y 100 metros cuadrados, incluyendo los limites -> 8736

In [ ]:
#@title Seleccione los inmuebles que tengan por los menos 4 cuartos y alquiler menor que $2.000.00
seleccion = (datos['Cuartos']>= 4) & (datos['Valor']<= 2000)
n4 = datos[seleccion].shape[0]
print('Numero de inmuebles que tengan por los menos 4 cuartos y alquiler menor que $2.000,00 -> {}'.
      format(n4))

Numero de inmuebles que tengan por los menos 4 cuartos y alquiler menor que $2.000,00 -> 60

#**Ejercicios**

In [ ]:
alumnos = pd.DataFrame({
'Nombre': ['Ary', 'Katia', 'Denis', 'Beto', 'Bruna', 'Dara', 'Carlos', 'Alice'], 
'Sexo': ['M', 'F', 'M', 'M', 'F', 'F', 'M', 'F'], 
'Edad': [15, 27, 56, 32, 42, 21, 19, 35], 
'Notas': [7.5, 2.5, 5.0, 10, 8.2, 7, 6, 5.6], 
'Aprobado': [True, False, False, True, True, True, False, False]},
columns = ['Nombre', 'Edad', 'Sexo', 'Notas', 'Aprobado'])
alumnos

   Nombre  Edad Sexo  Notas  Aprobado
0     Ary    15    M    7.5      True
1   Katia    27    F    2.5     False
2   Denis    56    M    5.0     False
3    Beto    32    M   10.0      True
4   Bruna    42    F    8.2      True
5    Dara    21    F    7.0      True
6  Carlos    19    M    6.0     False
7   Alice    35    F    5.6     False

In [ ]:
#@title Cree un DataFrame sólo con los estudiantes aprobados.
seleccion = alumnos['Aprobado'] == True
aprobados = alumnos[seleccion]
aprobados

  Nombre  Edad Sexo  Notas  Aprobado
0    Ary    15    M    7.5      True
3   Beto    32    M   10.0      True
4  Bruna    42    F    8.2      True
5   Dara    21    F    7.0      True

In [ ]:
#@title Cree un DataFrame sólo con las estudiantes aprobadas.
seleccion = (alumnos.Aprobado == True) & (alumnos.Sexo == 'F')
aprobadas = alumnos[seleccion]
aprobadas

  Nombre  Edad Sexo  Notas  Aprobado
4  Bruna    42    F    8.2      True
5   Dara    21    F    7.0      True

In [ ]:
#@title Cree sólo una visualización de los alumnos con edades entre 10 a 20 años o con edad mayor/igual a 40 años.
seleccion = (alumnos.Edad > 10) & (alumnos.Edad < 20) | (alumnos.Edad >= 40)
alumnos[seleccion]

   Nombre  Edad Sexo  Notas  Aprobado
0     Ary    15    M    7.5      True
2   Denis    56    M    5.0     False
4   Bruna    42    F    8.2      True
6  Carlos    19    M    6.0     False

#**Formas de selecciones**

In [ ]:
'l1 l2 l3 l4'.split()

['l1', 'l2', 'l3', 'l4']

In [ ]:
data = [(1, 2, 3, 4),
        (5, 6, 7, 8),
        (9, 10, 11, 12),
        (13, 14, 15, 16)]
df = pd.DataFrame(data, 'l1 l2 l3 l4'.split(), 'c1 c2 c3 c4'.split()) 
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   9  10  11  12
l4  13  14  15  16

In [ ]:
#Cuando tiene una columna es una serie
df['c1']

l1     1
l2     5
l3     9
l4    13
Name: c1, dtype: int64

In [ ]:
#Apartir de dos columnas es un DataFrame
df[[ 'c3', 'c1']]

    c3  c1
l1   3   1
l2   7   5
l3  11   9
l4  15  13

In [ ]:
#Para seleccionar filas, el ultimo dato no es tomado 
df[1:3]

    c1  c2  c3  c4
l2   5   6   7   8
l3   9  10  11  12

In [ ]:
# Seleccionar ulitimas 3 lineas 
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   9  10  11  12
l4  13  14  15  16

In [ ]:
# posicion se pone la inicial y no la final no se especifica para que lea el resto de filas
df[1:][['c3', 'c1']]

    c3  c1
l2   7   5
l3  11   9
l4  15  13

In [ ]:
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   9  10  11  12
l4  13  14  15  16

In [ ]:
#el resultado es una series
df.loc['l3']

c1     9
c2    10
c3    11
c4    12
Name: l3, dtype: int64

In [ ]:
#@title De este modo se selecciona dos columnas
df.loc[['l3', 'l2']]

    c1  c2  c3  c4
l3   9  10  11  12
l2   5   6   7   8

In [ ]:
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   9  10  11  12
l4  13  14  15  16

In [ ]:
df.loc['l1', 'c2']

2

In [ ]:
#con iloc se debe poner la posicion del indice
df.iloc[0,1]

2

In [ ]:
df.loc[['l3','l1'],['c4','c1']]

    c4  c1
l3  12   9
l1   4   1

In [ ]:
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   9  10  11  12
l4  13  14  15  16

In [ ]:
df.iloc[[2,0],[3,0]]

    c4  c1
l3  12   9
l1   4   1

#**Ejercicios**

In [ ]:
#@title Cree un DataFrame sólo con los estudiantes reprobados y mantenga en este DataFrame sólo las columnas Nombre, Sexo y Edad, en este orden.
seleccion = alumnos['Aprobado'] == False
reprobados = alumnos[['Nombre', 'Sexo', 'Edad']][seleccion]
reprobados

   Nombre Sexo  Edad
1   Katia    F    27
2   Denis    M    56
6  Carlos    M    19
7   Alice    F    35

In [ ]:
seleccion = alumnos['Aprobado'] == False
reprobados = alumnos.loc[seleccion, ['Nombre', 'Sexo', 'Edad']]
reprobados

   Nombre Sexo  Edad
1   Katia    F    27
2   Denis    M    56
6  Carlos    M    19
7   Alice    F    35

In [ ]:
#@title Crea una visualización con los tres alumnos más jóvenes.
alumnos.sort_values(by = ['Edad'], inplace = True)
alumnos.iloc[:3]

   Nombre  Edad Sexo  Notas  Aprobado
0     Ary    15    M    7.5      True
6  Carlos    19    M    6.0     False
5    Dara    21    F    7.0      True